.first-container {
    border-radius: 1.7rem;
    background-color: #7B4F2E;
}

.first-container h4 {
    font-size: 2rem;
    font-family: 'Convergence';
    color: #F5E6D3;
}

.aboutus-box {
    font-family: 'Convergence';
    background-color: transparent;
    border-radius: 1.2rem;
    min-height: 100px;
}

.aboutus-box p {
    color: #F5E6D3;
    border-radius: 1.2rem;
}

.stats1-box {
    border-radius: 1.2rem;
    min-height: 100px;
}

.first-container-contents h4 {
    font-size: 2rem;
    color: #F5E6D3;
    font-family: 'Convergence';
}

.first-container-contents p {
    color: #F5E6D3;
    font-family: 'Convergence';
}

.stats2-box {
    border-radius: 1.2rem;
    min-height: 100px;
}

.stats3-box {
    border-radius: 1.2rem;
    min-height: 100px;
}

.our-team {
    background-color: #C4956A;
    min-height: 300px;
    border-radius: 1.7rem;
}

.our-team h4,
.dashboard h4 {
    font-size: 1.8rem;
    font-family: 'Convergence';
    color: #F5E6D3;
}

.team1-box,
.team2-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.sei-box,
.ivan-box,
.chaste-box,
.denzel-box {
    border-radius: 1.2rem;
    min-height: 150px;
}

.card {
    background-color: transparent;
    border: none;
    color: #F5E6D3;
    font-family: 'Convergence';
}

.card p {
    font-size: 0.9rem;
}

.cat-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    min-height: 350px;
}

.dashboard {
    background-color: #C4956A;
    min-height: 300px;
    border-radius: 1.7rem;
}

.dashboard-box {
    background-color: #F5E6D3;
    border-radius: 1.2rem;
    min-height: 150px;
}

.dashboard-box p,
h3 {
    color: #1D1D1D;
    font-family: 'Convergence';
}

.dashboard-box i {
    color: #56AA43;
    font-family: 'Convergence';
}

.dashboard-box span i {
    color: #E5D462;
    font-family: 'Convergence';
}

.our-commitment {
    min-height: 300px;
    border-radius: 1.7rem;
}

.our-photo {
    background-color: #C4956A;
    border-radius: 1.7rem;
}

.our-photo-box {
    background-color: #F5E6D3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}

.commitment-box {
    border-radius: 1.5rem;
    min-height: 100px;
}

.our-commitment h4 {
    font-family: 'Convergence';
    font-size: 2.7rem;
}

.commitment-box p {
    font-family: 'Convergence';
    font-size: 1rem;
}

.dog-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dog-box img {
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

