body {
    font-family: 'Convergence', sans-serif;
}

.first-container{
    background-color: #F5E6D3;
}

.custom-card {
    max-width: 59.375rem;
    width: 100%;
    border-radius: 1rem;
    max-height: 42rem;

}

.left-panel {
    background-color: #AB8154;
}

.left-panel h2 {
    color: #F5E6D3;
}

.left-panel h3 {
    color: #F5E6D3;
}

.second-container {
    background-color: #9B6240;
    border-radius: 1rem;
}

.second-container p{
    color: #F5E6D3;
}

.right-panel{
    background-color: #FAF0E8;
    max-height: 70rem;
}

.btn-login {
    background-color: #AB8154;
    color: #F5E6D3;
    border-radius: 1rem;
}

.btn-login:hover {
    background-color: #9B6240; 
    color: #FAF0E8;
}

.toggle-container {
    margin-top: -.4rem;
    background-color: #F0E2D1;
    padding: 0.25rem; 
    border-radius: 1rem; 
    max-width: 18.75rem; 
    cursor: default;
    pointer-events: none;
}

.btn-toggle {
    border: none;
    border-radius: 1rem; 
    padding: 0.375rem 1rem; 
    color: #AB8154;
    cursor: none;
}

.btn-toggle.active {
    background-color: #AB8154;
    color: #F5E6D3;
}

.btn .btn-login::hover {
    background-color: #AB8154; 
    color: #F5E6D3;
}

.custom-input {
    background-color: #F9F3EB !important; 
    border: 1px solid #D6C5B3;
    border-radius: 12px;
    padding: 10px 15px;
}
.custom-input:focus {
    border-color: #A67C52;
    box-shadow: 0 0 0 0.25rem rgba(166, 124, 82, 0.25);
}

.forgot-link{
    color: #AB8154;
}

.divider-line span {
    background-color: #FAF0E8;
}

.divider-line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #D6C5B3;
}

.divider-line2 span {
    background-color: #AB8154;
    color: #FFFFFF !important;
}

.divider-line2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #D6C5B3;
    z-index: 0;
}

.sign-up{
    color: #AB8154;
}

.custom-carousel {
    position: relative;
    width: 100%;
    height: 12rem; 
}

.custom-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}


.custom-slide.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}


.oval {
    width: 32px;
    height: 12px;
    border: 1.5px solid #AB8154; 
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: inline-block;
}

.oval.active {
    background-color: #f5eae0; 
    border-color: #f5eae0;
}