.market-logo i {
    font-size: 4rem;
    background-color: #AB8154;
    color: #F5E6D3;
    padding : 1.3rem;
    border-radius: 20%;
}

.market-box h3, .market-box h6 {
    font-family: 'Convergence';
    color: #AB8154;
}

.fillout {
    font-family: 'Convergence';
    background-color: #FAF0E8;
}

.form-select, .form-control {
    background-color: #FAF0E8;
    border: 1px solid #1d1d1d;
}

.section-divider {
    border: none;
    border-top: 1.5px solid #7B4F2E;
    opacity: 1;
}

.business-permit, .gov-id {
    background-color: #FAF0E8;
    border: 1px dashed #1d1d1d;
    height: 200px;
    font-family: 'Convergence';
}

.business-permit i, .gov-id i {
    font-size: 2.5rem;
    color : #1d1d1d;
}

.form-check-input {
    width: 1.5em;        
    height: 1.5em;       
    border-color: #8B6343;   
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #8B6343; 
    border-color: #8B6343;   
}

.btn-cancel, .btn-submit {
    background-color: #E0CAB3;
    color: #1d1d1d;
    border: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-cancel:hover, .btn-submit:hover {
    background-color : #C4956A;
}

.btn-cancel:active, .btn-submit:active {
    background-color: #C4956A;
    color: #fff;
    transform: scale(0.97);  
}

.form-check {
    width: 65%;
}